h1{
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;

}
body{
    background-color: rgb(185, 252, 0);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}